#container
{
    text-align: left;
    width: 50%;
    margin: auto;
}

#header
{
    
    color: blue;
    font-size: 40px;
    color: white;
    background: red;
}

#main
{
    font-family: Arial;
}
